---
layout: page
---
<article class="post">

  <div class="trigger">
    {% for menu in site.data.menu %}
      {% if menu[0] == page.workshop %}
        {% for link_hash in menu[1] %}
          {% for link in link_hash %}
            {% if link[0] != "Home" %}
              •
            {% endif %}
            <a href="{{ link[1] }}">{{ link[0] }}</a>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
 </div>
<br>
{% if page.subtitle != "Home" %}
  <h2>{{ page.subtitle }}</h2>
{% endif %}
  <div class="post-content">
    {{ content }}
  </div>

</article>
