---
layout: page
---
<article class="post">

  <div class="trigger">
  	<a href="/workshops/{{ page.workshop }}/home/">Home</a> – <a href="/workshops/{{ page.workshop }}/call/">Call for Abstracts</a> – <a href="/workshops/{{ page.workshop }}/outline/">Outline</a> – <a href="/workshops/{{ page.workshop }}/program/">Program</a> – <a href="/workshops/{{ page.workshop }}/pc/">Organisation</a> – <a href="/workshops/{{ page.workshop }}/travel/">Travel</a>
 </div>

  <div class="post-content">
    {{ content }}
  </div>

</article>
